*{
    margin: 0;
    padding: 0;
}

body{
    min-width: 500px;
    padding:20px 62px 20px 20px;
}

.container{
    width: 100%;
    background-color: #eee;
    border: 1px solid #999;
    padding: 20px;
    overflow: hidden;
}

.left, .main, .right{
    float: left;
}

.left{
    margin-left: -100%;
    width: 198px;
    background-color: #fff;
    border: 1px solid #999;
}

.right{
    margin-left: -120px;
    width: 118px;
    background-color: #fff;
    border: 1px solid #999;
}

.main{
    width: 100%;
    background-color: #eee;
}

.main-inner{
    margin-left: 220px;
    margin-right: 140px;
    background-color: #fff;
    border: 1px solid #999;
    padding:20px;
}
.left p{
    float: right;
    margin: 20px 30px 0 0;
    font-size: 18px;
    font-weight: bold;
}
.pic{
    width: 80px;
    height: 80px;
    margin: 20px 20px 0 20px;
    border: 1px solid #999;
}
.footer{
    margin-bottom: 20px;
}